<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Facturación</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div align="center">
		<br>
		<h1>Facturación</h1>
		<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
			class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
		</svg>
		<br>
		<tr>
		</tr>
		<tr>

		</tbody>
		</table>
		<div>
			<h3><a th:href="@{'/home'}" class="container p-3 my-3 bg-primary text-white">Pagina de Inicio</a></h3>
</body>


</html>