<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Inventario</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div align="center">
		<br>
		<h2>Inventario</h2>
		<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
			class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
			<path
				d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z">
			</path>
			<path
				d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z">
			</path>
		</svg>
		<br>
		<br>
		<br>
		<tr>


		</tr>
		<tr>

			<div class="col-sm-8" align="center">
				<div class="panel-body" align="center">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>ID PRODUCTO</th>
								<th>CODIGO DEL PRODUCTO</th>
								<th>NOMBRE DEL PRODUCTO</th>
								<th>CANTIDAD</th>
								<th>PRECIO</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="Producto : ${liststudent }">
								<td th:text="${Producto.id}">ID PRODUCTO</td>
								<td th:text="${Producto.codProduct}">CODIGO DEL PRODUCTO</td>
								<td th:text="${Producto.productName}">NOMBRE DEL PRODUCTO</td>
								<td th:text="${Producto.cantproduct}">CANTIDAD</td>
								<td th:text="${Producto.precio}">PRECIO</td>
								<td>
									<a th:href="@{'/edit/' + ${Producto.id}}">Editar</a>
								</td>
								<td>
									<a th:href="@{'/delete/' + ${Producto.id}}">Eliminar</a>
								</td>
							</tr>

						</tbody>
					</table>

				</div>

			</div>

		</tr>
		<br>
		<br>
		<div align="center">
			<h3><a th:href="@{'/new'}" class="container p-3 my-3 bg-primary text-white">Añadir producto</a></h3>
			<br>
			<br>
			<h3><a th:href="@{'/home'}" class="container p-3 my-3 bg-primary text-white">Página de inicio</a></h3>
		</div>
		</tbody>
		</table>
		<div>
</body>

</html>